RAPIDAPI_IRCTC_KEY=your_rapidapi_key_here
RAPIDAPI_IRCTC_HOST=irctc1.p.rapidapi.com
RAPIDAPI_IRCTC_BASE_URL=https://irctc1.p.rapidapi.com
LIVE_DATA_PROVIDER=rapidapi-irctc
LIVE_TRAIN_WATCHLIST=19038,12936,12002,22415
SCENARIO_MODE=false
REAL_DATA_REQUIRED=true
ENFORCE_RBAC=true
